/* news start */
.news{
	background-color: #f0f0f0;
	/*min-height: 400px;*/
	padding: 70px 0;
}
.singup{
	text-align: center;
}
.s_h1{
	margin-top: 0;
	margin-bottom: 70px;
	font-family: "Playfair Display", serif;
	font-size: 30px;
	font-weight: 400;
	color: #333333;
}
.s_form{
	position: relative;
	width: 400px;
	margin: 0 auto;
	
}
.s_form input{
	font-family: "playfair display", serif;
	font-size: 14px;
	color: #626262;
	width: 345px;
	height: 45px;
	border: none;
	border-bottom: 1px solid #000000;
	background: transparent;
	padding-left: 5px;
	padding-right: 45px;
	
}
.s_form input:focus{
	outline: 0;
}
.s_form button{
	position: absolute;
	border: transparent;
	border: none;
	cursor: pointer;
	top: 15px;
	right: 0;
}
.s_form button:focus{
	outline: 0;
}
.s_form button img{}
/* news end */